# Added by cp.mchost.ru	2022-08-23
#AuthType	Basic
#AuthName	"Authorization"
#AuthUserFile	/home/httpd/vhosts/scmi.ru/httpdocs/.htpass
#Require	valid-user

ErrorDocument 401 /401.html
ErrorDocument 404 /404.html


RewriteEngine On
RewriteCond %{REQUEST_URI} !^/robots\.txt$

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

RewriteCond %{HTTP:X-Forwarded-proto} !^https$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]